footer{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #0D47A1;

    .ecen{
        align-self: center;
    }
    .uned{
        align-self: center;
    }
}
