

.parteA{
    height: 100px;
}

.parteB{
    height: 400px;

    #parteB2{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #parteB3{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;
    }
}

.parteC{
    height: 300px;

    #parteC2{
        height: 300px;
    }
}

.btnD{
    background-color: rgb(255, 108, 54);
    font-size: 25px;
    font-weight: bold;
    &:hover{
        background-color: rgba(255, 108, 54, 0.8);
    }
}

.btnNoD{
    background-color: rgb(204, 204, 204);
    font-size: 25px;
    font-weight: bold;
    &:hover{
        background-color: rgba(204, 204, 204, 0.8);
    }
}

.btnAD{
    background-color: rgb(0, 81, 158);
    &:hover{
        background-color: rgba(0, 81, 158, 0.8);
    }
}

.btnR{
    background-color: rgb(255, 200, 67);
    font-size: 25px;
    font-weight: bold;
    &:hover{
        background-color: rgba(255, 200, 67, 0.8);
    }
}