<h3 class="text-center">Estado de los cubículos</h3><br>
<div class="container mx-auto row g-0">
  <div class="col-12 col-lg-3">
    <div class="p-3 border text-center" style="background-color: rgb(255, 108, 54); font-size: 22px; font-weight: bold;">Disponible</div>
  </div>
  <div class="col-12 col-lg-3">
    <div class="p-3 border text-center" style="background-color: rgb(204, 204, 204); font-size: 22px; font-weight: bold;">No Disponible</div>
  </div>
  <div class="col-12 col-lg-3">
    <div class="p-3 border text-center" style="background-color: rgb(255, 200, 67); font-size: 22px; font-weight: bold;">Reservado</div>
  </div>
  <div class="col-12 col-lg-3">
    <div class="p-3 border text-center text-light" style="background-color: rgb(0, 81, 158); font-size: 22px; font-weight: bold;">Administrador</div>
  </div>
</div><br>

<div class="container-fluid m-0 p-0">
  <div class="principal">

    <!-------------ParteA------------->
    <div class="parteA row border">
        <div class="col-8 border d-flex justify-content-center align-items-center"><b>Cubículos (Trabajo Colaborativo)</b></div>
        <div class="col-4 border m-0 p-0 d-flex justify-content-center align-items-center">
            Sala #2
        </div>
    </div>

    <!-------------ParteB------------->
    <div class="parteB row border">
        <!-------------ParteB1------------->
        <div class="col-2 border p-0 m-0 row align-items-center">
            <div class="p-0 m-0">
              <button class="btn btnNoD col-12 p-4" type="button">2</button>
              <button class="btn btnD  col-12 mt-1 p-4" type="button">1</button>
            </div>
        </div>
        <!-------------ParteB2------------->
        <div class="col-7 border p-0 m-0" id="parteB2">
            <!-------------ParteB2.1------------->
            <div class="row p-0 m-0">
                <button class="btn btnR col-3 p-4" type="button" (click)="resev()">3</button>
                <button class="btn btnNoD col-3 p-4" type="button">4</button>
                <button class="btn btnD col-3 p-4" type="button">5</button>
                <button class="btn btnD col-3 p-4" type="button">6</button>
            </div>
            <!-------------ParteB2.2------------->
            <div class="row p-0 m-0">
                <button class="btn btnD col-3 p-4" type="button">12</button>
                <div class="col-9">
                  <div class="row row-cols-3 gy-1">
                    <button class="btn btnNoD p-4" type="button" (click)="nodisp()">11</button>
                    <button class="btn btnD p-4" type="button">10</button>
                    <button class="btn btnNoD p-4" type="button">9</button>
                    <button class="btn btnNoD p-4" type="button">13</button>
                    <button class="btn btnNoD p-4" type="button">14</button>
                    <button class="btn btnD p-4" type="button">15</button>
                  </div>
                </div>
            </div>
            <!-------------ParteB2.3------------->
            
            <div class="flex-row ms-5">
                <button class="btn btnAD p-4 ms-3 text-light" type="button" (click)="admin()" >Admin<br>16</button>
            </div>
            
        </div>
        <!-------------ParteB3------------->
        <div class="col-3 border p-0 m-0" id="parteB3">
            
              <button class="btn btnD col-6 p-4" type="button" (click)="disp()" >7</button>
              <button class="btn btnR col-6 p-4" type="button" (click)="resev2()">8</button>
            
            
        </div>
    </div>

    <!-------------ParteC------------>
    <div class="parteC row border">
        <div class="col-2 border m-0 p-0 d-flex justify-content-center align-items-center">
            Sala <br> #1
        </div>
        <div class="col-7 border p-0 m-0">
            <div class="row p-0 m-0" id="parteC2">
                <div class="col-3 border p-0 m-0 row align-items-end">
                    <div class="p-0 m-0">
                      <button class="btn btnNoD col-12 mt-1 p-4" type="button">?</button>
                    </div>
                </div>
                <div class="col-6 border p-0 m-0 row">
                    <div class="p-0 m-0">
                        <button class="btn btnNoD col-6 mt-1 p-4" type="button">?</button>
                        <button class="btn btnNoD col-6 mt-1 p-4" type="button">?</button>
                      </div>
                      <div class="p-0 m-0 align-self-end">
                        <button class="btn btnNoD col-6 mt-1 p-4" type="button">?</button>
                        <button class="btn btnNoD col-6 mt-1 p-4" type="button">?</button>
                      </div>
                </div>
                <div class="col-3 border p-0 m-0 row g-1 flex-row-reverse justify-content-between">
                    
                        <button class="btn btnNoD col-12 p-3 " type="button">?</button>
                        <button class="btn btnNoD col-12 p-3 " type="button">?</button>
                        <button class="btn btnNoD col-12 p-3 " type="button">?</button>
                      
                </div>
            </div>
        </div>
        <!---->
        <div class="col-3 border m-0 p-1 d-flex justify-content-center align-items-center">
            Almacén <br> ECEN
        </div>
    </div>
</div>
<!--<div class="col-12 col-md-4 mt-3">
    <h3 class="text-center">Habilitar cubículos</h3><br>
    <hr><br>

    <div class="d-flex">
      <select class="form-select form-select-lg me-2" id="rol">
        <option value="">Seleccione un cubículo</option>
        <option value="">2</option>
        <option value="">4</option>
        <option value="">9</option>
        <option value="">11</option>
        <option value="">13</option>
        <option value="">14</option>
      </select>
      <button class="btn btn-primary" type="submit">Habilitar</button>
    </div><br>

    <div class="text-center">
      <button class="btn btn-primary" type="button">Habilitar todos los cubículos</button>
    </div>
    <br>
    <h3 class="text-center">Inhabilitar cubículos</h3><br>
    <hr><br>
    <form action="">

    </form>
    <div>
      <select class="form-select form-select-lg me-2" id="rol">
        <option value="">Seleccione un cubículo</option>
        <option value="">1</option>
        <option value="">5</option>
        <option value="">6</option>
        <option value="">7</option>
        <option value="">8</option>
        <option value="">10</option>
        <option value="">12</option>
        <option value="">15</option>
      </select>
    </div>
    <div class="mt-2">
      <label for="motivo">Indique el motivo</label>
       <textarea class=" form-control" id="moivo" cols="30" rows="8"></textarea>
    </div>
    <div class="mt-2 text-center">
      <button class="btn btn-danger" type="submit">Inhabilitar</button>
    </div>
    <br>
    <h3 class="text-center"><b>Cubículos y salas reservadas</b></h3><br>

    <div class="text-center">
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample3"
        aria-controls="offcanvasExample">
        Desplegar lista
      </button>
    </div>




  </div>-->
</div><br><br>
<h3 class="text-center"><b>Cubículos y salas reservadas</b></h3><br>

<div class="text-center">
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample3"
    aria-controls="offcanvasExample">
    Desplegar lista
  </button>
</div>
<br>

<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasExample3" aria-labelledby="offcanvasExampleLabel" style="height: 100vh;">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title" id="offcanvasExampleLabel"><b>Cubículos y salas de reunión reservadas</b></h3>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container-fluid  text-center">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reservas">
        Información
      </button>
    </div><br>
    <div class="container-fluid">
      <p-tabView>
        <!--<p-tabPanel header="Cubículos - Oficina 5-3">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Cubículo</th>
                  <th scope="col">Nombre y Apellidos</th>
                  <th scope="col">Rol</th>
                  <th scope="col">Email</th>
                  <th scope="col">Fecha de reservas</th>
                  <th scope="col">Hora de inicio</th>
                  <th scope="col">Hora de salida</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">3</th>
                  <td>Carlos Matarrita</td>
                  <td>Encargado de XXXXXX</td>
                  <td>carlos.matarrita@empresa.com</td>
                  <td>2022-04-26</td>
                  <td>8:30 am</td>
                  <td>3:00 pm</td>
                  <td><button class="btn btn-danger" type="button" (click)="userReser()" >Eliminar</button></td>
                </tr>

                <tr>
                  <th scope="row">8</th>
                  <td>Lucía Mora</td>
                  <td>Asistente de XXXXXX</td>
                  <td>lucia.mora@empresa.com</td>
                  <td>2022-04-28</td>
                  <td>9:00 am</td>
                  <td>4:00 pm</td>
                  <td><button class="btn btn-danger" type="button" (click)="userReser()" >Eliminar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </p-tabPanel>-->
        <p-tabPanel header="Salas de reunión">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Ubicación</th>
                  <th scope="col">Sala</th>
                  <th scope="col">Nombre y Apellidos</th>
                  <th scope="col">Rol</th>
                  <th scope="col">Email</th>
                  <th scope="col">Fecha de reserva</th>
                  <th scope="col">Hora de inicio</th>
                  <th scope="col">Hora de salida</th>
                  <th scope="col">Tipo de reunión</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Oficina 5-3</th>
                  <td>Sala 1: Sala de asesoría académica</td>
                  <td>Carlos Matarrita</td>
                  <td>Encargado de XXXXXX</td>
                  <td>carlos.matarrita@empesa.com</td>
                  <td>2022-04-27</td>
                  <td>10:30 am</td>
                  <td>11:30 am</td>
                  <td>Reunion XXXXXXXXXX</td>
                  <td><button class="btn btn-danger" type="button" (click)="salaReserv()" >Eliminar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Calendario de reservas de cubículos">
          <div class="container-fluid">
            <div class="row p-0 m-0">
              <div class="col-12">
                <h4 class="text-center fw-bold">Lista reservas de cubículos</h4><br>
                <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>
              </div>
            </div>
            
          </div>
        </p-tabPanel>
        <p-tabPanel header="Calendario de reservas de salas de reunión">
          <div class="container-fluid">
            <div class="row p-0 m-0">
              <div class="col-12">
                <h4 class="text-center fw-bold">Lista reservas de salas de reunión</h4><br>
                <p-fullCalendar [events]="events2" [options]="options2"></p-fullCalendar>
              </div>
            </div>
            
          </div>
        </p-tabPanel>
        
      </p-tabView>
    </div>
    <br>
    
    <button class="btn btn-primary float-end mr-2" type="button" data-bs-dismiss="offcanvas">Cerrar lista</button>
    
  </div>
</div>

<div class="modal fade" id="reservas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cubículos y salas de reunión reservadas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>En esta sección se muestran todas las reservas activas de los cubiculos y de las salas de reuniones</h3>
        <br>
        <h3>Se incluyen calendarios que muestran el día y las horas de las reservas</h3>
        <h3>El calendario muestra una lista de todas las reservas, ya sea de toda la semana y de un día de la semana.</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
