<header class="d-flex justify-content-between">
    <img src="assets/Logo-ECEN-prov2.png" class="img-fluid" alt="Logo ECEN" width="120" height="120">
    <div class="align-self-center">
        <h1 class="text-center">Sistema de reservas de cubículos de trabajo y de salas de reunión de la ECEN</h1>
    </div>
    <img src="assets/Logo-Uned-prov.jpg" class="img-fluid" alt="Logo Uned" width="120" height="120">
</header>
<br><br><br>

<div class="d-flex justify-content-center w-50 mx-auto">
    <h3 class="text-danger">Error 404: Página no encontrada</h3>
    <button class="btn btn-info ms-2" type="button">Regresar</button>
    
</div>
