<app-header></app-header>

<div class="container-fluid p-2 d-flex justify-content-between" style="background-color: rgb(255, 200, 67)">
    <h3 class=" align-self-center">Administrador</h3>
    <div class="dropdown me-2" title="Administradora: Hilda">
      <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-circle-user" style="font-size: 40px;"></i>
      </a>
    
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li class="dropdown-item" style="cursor: pointer;" data-bs-toggle="offcanvas" data-bs-target="#Ayuda">Ayuda</li>
        <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><h6 class="text-center bol"><b>Hilda Briceño</b></h6></li>
      </ul>
    </div>
</div>
<br><br>

<div class="offcanvas offcanvas-top" tabindex="-1" id="Ayuda" aria-labelledby="offcanvasExampleLabel" style="height: 100vh;">
  <div class="offcanvas-header border-bottom">
    <h3 class="offcanvas-title fw-bold" id="offcanvasExampleLabel">Ayuda - Administración</h3>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h1>Pendiente de agregar</h1>
  </div>
</div>

  <h1 class="text-center">Sistema de Control del Administrador</h1><br>
  
<p-tabView>
  <p-tabPanel header="Pantalla de reservas de la Oficina 5-3">
    <h3 class=" text-center">Cubículos y Salas de reunión</h3><br>
    <div class="container-fluid  text-center">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#admin">
        Información
      </button>
    </div><br>
      <app-ofi53></app-ofi53>
  </p-tabPanel>
  <p-tabPanel header="Mantenimiento de usuarios y salas">
    <h3 class="text-center">Mantenimiento de Usuarios Y Salas de Reunión</h3><br>
    <div class="container-fluid  text-center">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mant">
        Información
      </button>
    </div><br>
    <div class="container-fluid m-0 p-0">
      <p-tabView>
          <p-tabPanel header="Usuarios">
             <app-usuarios></app-usuarios>
          </p-tabPanel>
          <p-tabPanel header="Salas">
              <app-salas></app-salas>
          </p-tabPanel>
        </p-tabView>
    </div>
  </p-tabPanel>
</p-tabView>

<app-footer></app-footer>

<div class="modal fade" id="admin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Administración</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 class="fw-bold">Pantalla de reservas de la oficina 5-3</h3><br>

        <h5>
            En la <b>parte izquierda</b>, se incluye un mapa de la <b>oficina 5-3</b> con la ubicación
            de cada cubículo y su número correspondiente. Cada cubículo es un botón y pueden presentar 3 estados y 3 colores.  
        </h5>
        <h5>La administradora puede presionar los botones para conocer su estado </h5>
        <h5>Los botones <b>3, 11 y 7</b> están habilitados como un ejemplo de como funciona</h5>
        <h5>En la <b>parte derecha</b> la administradora puede habilitar o inhabilitar cubículos según su estado</h5>
        <h5>En la parte de habilitar cubículos en el select se incluye solo los cubículos con estado <b>No disponible</b></h5>
        <h5>En la parte de inhabilitar, en el select se incluye solo los cubículos con el estado de <b>Disponible</b></h5>
        <h5>Los cubículos que estan <b>Reservados</b> no se pueden inhabilitar hasta que se desocupen</h5>
        <h5>En la  parte de reservas activas se incluye un botón que muesttra todas las reservas de 
          cubículos y de salas.
        </h5>
        <h5>Los botones con el signo <b>?</b> son los que falta de enumerar</h5>
        <h5>El cubículo de la administradora está desactivado y no se puede interactuar con el</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mant" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mantenimieno de usuarios y salas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>Usuarios</h1><br>
        <h3>La administradora puede visualizar en pantalla la lista de usuarios, agregar, modificar o desactivarlos.</h3>
        <h3>Se incluye un buscador, donde la administradora busca por el <b>nombre</b> a los usuarios</h3><br>
        <h1>Salas</h1><br>
        <h3>La administradora puede visualizar en pantalla la lista de salas, agregar, modificar o desactivarlas</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>