<app-header></app-header>

<div class="container-fluid p-2 d-flex justify-content-between" style="background-color: rgb(255, 200, 67)">
    <h3 class=" align-self-center">Administrador</h3>
    <div class="dropdown me-2" title="Administradora: Hilda">
      <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-circle-user" style="font-size: 40px;"></i>
      </a>
    
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li class="dropdown-item" style="cursor: pointer;" data-bs-toggle="offcanvas" data-bs-target="#Ayuda">Ayuda</li>
        <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><h6 class="text-center bol"><b>Hilda Briceño</b></h6></li>
      </ul>
    </div>
</div>
<br><br>

<div class="offcanvas offcanvas-top" tabindex="-1" id="Ayuda" aria-labelledby="offcanvasExampleLabel" style="height: 100vh;">
  <div class="offcanvas-header border-bottom">
    <h3 class="offcanvas-title fw-bold" id="offcanvasExampleLabel">Ayuda - Administración</h3>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h1>Pendiente de agregar</h1>
  </div>
</div>

<p-tabView>
  <p-tabPanel header="Pantalla de reservas de la Oficina 5-3">
      <h1 class="text-center">Control de las Reservas de cubículos y salas de reunión</h1>
      <br>
      <app-ofi53></app-ofi53>
  </p-tabPanel>
  <p-tabPanel header="Mantenimiento de usuarios y salas">
    <div class="container-fluid m-0 p-0">
      <p-tabView>
          <p-tabPanel header="Usuarios">
             <app-usuarios></app-usuarios>
          </p-tabPanel>
          <p-tabPanel header="Salas">
              <app-salas></app-salas>
          </p-tabPanel>
        </p-tabView>
    </div>
  </p-tabPanel>
</p-tabView>

<app-footer></app-footer>

