.princ{
    width: 100%;
}

.buscador{
    width: 30%;
    margin: auto;
    @media screen and (max-width: 540px){
        width: 100%;
     }
     @media screen and (min-width: 541px) and (max-width: 720px){
        width: 70%;
     }
}



.addUser{
    width: 30%;
    @media screen and (max-width: 540px){
        width: 100%;
     }
     
     @media screen and (min-width: 541px) and (max-width: 720px){
        width: 50%;
     }
}