.princ{
    width: 100%;
}

.buscador{
    width: 30%;
    margin: auto;
    @media screen and (max-width: 540px){
        width: 100%;
     }
     @media screen and (min-width: 541px) and (max-width: 720px){
        width: 70%;
     }
}

.card-header{
    display: flex;
    justify-content: space-between;
    .ico{
        font-size: 40px;
    }
    @media screen and (max-width: 540px){
        flex-direction: column;
        h2{
            text-align: center;
            
        }
        i{
            margin-bottom: 20px;
            
        }
     }
     
}

.addUser{
    width: 30%;
    @media screen and (max-width: 540px){
        width: 100%;
     }
     
     @media screen and (min-width: 541px) and (max-width: 720px){
        width: 50%;
     }
}