<h3 class="text-center">Usuarios del sistema</h3>
<br>

<div class="container p-1">
    <div class="card">
        <div class="card-header clearfix">
            <h2 class="float-start">Lista de Usuarios</h2>
            <button type="button" class=" btn btn-info float-end me-2 mt-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample">Añadir Usuario</button>
        </div>
        <div class="card-body">
            <div class="w-50 mx-auto">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-lg" id="floatingInput" placeholder="carlos">
                    <label for="floatingInput">Buscar usuario por nombre</label>
                  </div>
            </div><br><br>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Primer Apellido</th>
                        <th scope="col">Segundo Apellido</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Correo electrónico</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Modificar</th>
                        <th scope="col">Activar/Desactivar</th>
        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Carlos</td>
                        <td>Matarrita</td>
                        <td>Campos</td>
                        <td>Encargado de carreras</td>
                        <td>carlos.matarrita@uned.ac.cr</td>
                        <td>Activo</td>
                        <td>
                            <button class="btn btn-warning" type="button">Modificar</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" type="button">Desactivar</button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Maritza</td>
                        <td>Salazar</td>
                        <td>Castro</td>
                        <td>Encargado de cátedra</td>
                        <td>maritza.salazar@uned.ac.cr</td>
                        <td>Inactivo</td>
                        <td>
                            <button class="btn btn-warning" type="button" disabled>Modificar</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" type="button">Activar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Añadir usuarios</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form action="">
      <div>
        <label for="titulo">Nombre</label>
        <input type="text" class="form-control form-control-lg" id="nom">
    </div>
    <div class="mt-2">
        <label for="titulo">Primer Apellido</label>
        <input type="text" class="form-control form-control-lg" id="nom">
    </div>
    <div class="mt-2">
        <label for="titulo">Segundo Apellido</label>
        <input type="text" class="form-control form-control-lg" id="nom">
    </div>
    <div>
      <label for="rol">Seleccione el rol</label>
      <select class="form-select form-select-lg" id="rol">
        <option value="" selected>Selecciona tu rol</option>
      </select>
    </div>
    <div class="mt-2">
      <label for="titulo">Correo electrónico</label>
      <input type="email" class="form-control form-control-lg" id="correo">
    </div>
    
    <div class="mt-2">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control form-control-lg" id="pass">
    </div>
    <div class="d-grid mt-4">
      <button class="btn btn-info" type="submit">Añadir</button>
    </div><br>
    </form>
  </div>
</div>



