<h3 class="text-center">Usuarios del sistema</h3>
<br>

<div class="princ p-1">

  <!--<div class="card w-50 mx-auto">
    <div class="card-header text-center">
       <h2>Añadir/Modificar Usuarios</h2>
    </div>
    <div class="card-body">
      <form action="">
        <div>
          <label for="titulo">Nombre</label>
          <input type="text" class="form-control form-control-lg" id="nom">
      </div>
      <div class="mt-2">
          <label for="titulo">Primer Apellido</label>
          <input type="text" class="form-control form-control-lg" id="nom">
      </div>
      <div class="mt-2">
          <label for="titulo">Segundo Apellido</label>
          <input type="text" class="form-control form-control-lg" id="nom">
      </div>
      <div>
        <label for="rol">Seleccione el rol del usuario</label>
        <select class="form-select form-select-lg" id="rol">
          <option value="" selected>Selecciona el rol</option>
        </select>
      </div>
      <div class="mt-2">
        <label for="titulo">Correo electrónico</label>
        <input type="email" class="form-control form-control-lg" id="correo">
      </div>
      
      <div class="d-grid mt-4">
        <button class="btn btn-primary" type="submit">Añadir</button>
      </div><br>
      </form>
    </div>
  </div><br><br>-->

    <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="d-flex">
            <i class="fa-regular fa-circle-user align-self-center" style="font-size: 35px;"></i>
          <h2 class="ms-2">Lista de Usuarios</h2>
          </div>
          <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#addUser">Añadir Usuarios</button>
        </div>
        <div class="card-body">
            <div class="buscador">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-lg" id="floatingInput" placeholder="carlos">
                    <label for="floatingInput">Buscar por nombre</label>
                  </div>
            </div><br><br>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Primer Apellido</th>
                        <th scope="col">Segundo Apellido</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Correo electrónico</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Modificar</th>
                        <th scope="col">Activar/Desactivar</th>
        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Carlos</td>
                        <td>Matarrita</td>
                        <td>Campos</td>
                        <td>Encargado de carreras</td>
                        <td>carlos.matarrita@uned.ac.cr</td>
                        <td>Activo</td>
                        <td class="text-center">
                            <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#modUser">Modificar</button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-danger" type="button" (click)="desUser()" >Desactivar</button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Maritza</td>
                        <td>Salazar</td>
                        <td>Castro</td>
                        <td>Encargado de cátedra</td>
                        <td>maritza.salazar@uned.ac.cr</td>
                        <td>Inactivo</td>
                        <td class="text-center">
                            <button class="btn btn-warning" type="button" disabled>Modificar</button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-danger" type="button" (click)="actUser()" >Activar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="addUser" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Añadir usuarios</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form action="">
      <div>
        <label for="titulo">Nombre</label>
        <input type="text" class="form-control form-control-lg" id="nom">
    </div>
    <div class="mt-2">
        <label for="titulo">Primer Apellido</label>
        <input type="text" class="form-control form-control-lg" id="nom">
    </div>
    <div class="mt-2">
        <label for="titulo">Segundo Apellido</label>
        <input type="text" class="form-control form-control-lg" id="nom">
    </div>
    <div>
      <label for="rol">Seleccione el rol del usuario</label>
      <select class="form-select form-select-lg" id="rol">
        <option value="" selected>Selecciona el rol</option>
      </select>
    </div>
    <div class="mt-2">
      <label for="titulo">Correo electrónico</label>
      <input type="email" class="form-control form-control-lg" id="correo">
    </div>
    
    <div class="d-grid mt-4">
      <button class="btn btn-primary" type="submit">Añadir</button>
    </div><br>
    </form>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="modUser" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Modificar usuarios</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form action="">
      <div>
        <label for="titulo">Nombre</label>
        <input type="text" class="form-control form-control-lg" id="nom">
    </div>
    <div class="mt-2">
        <label for="titulo">Primer Apellido</label>
        <input type="text" class="form-control form-control-lg" id="nom">
    </div>
    <div class="mt-2">
        <label for="titulo">Segundo Apellido</label>
        <input type="text" class="form-control form-control-lg" id="nom">
    </div>
    <div>
      <label for="rol">Seleccione el rol del usuario</label>
      <select class="form-select form-select-lg" id="rol">
        <option value="" selected>Selecciona el rol</option>
      </select>
    </div>
    <div class="mt-2">
      <label for="titulo">Correo electrónico</label>
      <input type="email" class="form-control form-control-lg" id="correo">
    </div>
    
    <div class="d-grid mt-4">
      <button class="btn btn-primary" type="submit">Aceptar</button>
    </div><br>
    </form>
  </div>
</div>


