<!--<header class="container-fluid d-flex m-0 p-0">
   
      <img src="assets/Logo-UNED.png" class="img-fluid " alt="Logo UNED" width="90" height="90">
      <div class="container-fluid bg-danger m-0 p-0 row">
         <div class="col-12 align-self-center p-3" style="background-color: rgb(0, 81, 158)">
            <h5 class="text-light">Sistema de Reservas de Espacios de Trabajo</h5>
        </div>
         <div class="col-12 align-self-center p-3" style="background-color: rgb(21, 40, 75)">
            <h5 class="text-light">Escuela de Ciencias Exactas y Naturales</h5>
        </div>
      </div>
  
  </header>-->
  <app-header></app-header>
  
  <div class="loginBG container-fluid p-3">
    <div>
      
      <div class="d-flex justify-content-center">
        <img src="assets/Logo-ECEN-prov2.png" class="img-fluid bg-light rounded-3" alt="Logo ECEN" width="150" height="150">
      </div><br>
      <h3 class="text-center">Autentificación de Usuarios</h3>
  
      <div class="login mt-4">
        <form >
          <!--<div>
            <label for="rol">Selecciona tu rol de usuario</label>
            <select class="form-select form-select-lg" id="rol">
              <option value="" selected>Rol de usuario</option>
              <option value="">Administrador</option>
              <option value="">Asistentes de Cátedras</option>
              <option value="">Asistentes de Carreras</option>
              <option value="">Asistentes de Postgrados</option>
            </select>
          </div>-->
          <div class="mt-2">
            <label for="titulo">Correo electrónico</label>
            <input type="email" class="form-control form-control-lg" id="correo">
          </div>
          <div class="mt-2">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control form-control-lg" id="pass">
          </div>
          <a href="#" style="text-decoration: none;">¿Olvidó su contraseña?</a>
          
          <div class="d-grid mt-4">
            <button class="btn btn-primary" type="submit">Ingresar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <app-footer></app-footer>