<app-header></app-header>

<div class="container-fluid p-2 d-flex justify-content-between" style="background-color: #1976D2;">
  <h3 class=" align-self-center text-light">Usuarios</h3>
  <div class="dropdown me-2" title="Usuario: Carlos">
    <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
      aria-expanded="false">
      <i class="fa-solid fa-circle-user" style="font-size: 40px;"></i>
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#Ayuda" style="cursor: pointer;">Ayuda</li>
      <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li>
        <h6 class="text-center bol"><b>Carlos Matarrita</b></h6>
      </li>
    </ul>
  </div>
</div><br>
<div class="container-fluid  text-center">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reservasC">
    Información
  </button>
</div><br>
<p-tabView>
  <p-tabPanel header="Reservar cubículos - Oficina 5-3">
    <h3 class="text-center">Resevas de cubículos - <b>Oficina 5-3 (Trabajo Colaborativo)</b></h3><br>
    <h3 class="text-center">Estado de los cubículos</h3><br>
    <div class="container mx-auto row g-0">
      <div class="col-12 col-lg-3">
        <div class="p-3 border text-center" style="background-color: rgb(255, 108, 54); font-size: 22px; font-weight: bold;">Disponible</div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="p-3 border text-center" style="background-color: rgb(204, 204, 204); font-size: 22px; font-weight: bold;">No Disponible</div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="p-3 border text-center" style="background-color: rgb(255, 200, 67); font-size: 22px; font-weight: bold;">Reservado</div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="p-3 border text-center text-light" style="background-color: rgb(0, 81, 158); font-size: 22px; font-weight: bold;">Administrador</div>
      </div>
    </div><br>
    <div class="w-100 row">
      <div class="principal col-12">

        <!-------------ParteA------------->
        <div class="parteA row border">
            <div class="col-8 border d-flex justify-content-center align-items-center"><b>Oficina 5-3 (Trabajo Colaborativo)</b></div>
            <div class="col-4 border m-0 p-0 d-flex justify-content-center align-items-center">
                Sala #2
            </div>
        </div>
    
        <!-------------ParteB------------->
        <div class="parteB row border">
            <!-------------ParteB1------------->
            <div class="col-2 border p-0 m-0 row align-items-center">
                <div class="p-0 m-0">
                  <button class="btn btnNoD col-12 p-4" type="button">2</button>
                  <button class="btn btnD  col-12 mt-1 p-4" type="button">1</button>
                </div>
            </div>
            <!-------------ParteB2------------->
            <div class="col-7 border p-0 m-0" id="parteB2">
                <!-------------ParteB2.1------------->
                <div class="row p-0 m-0">
                    <button class="btn btnR col-3 p-4" type="button" (click)="resev()">3</button>
                    <button class="btn btnNoD col-3 p-4" type="button">4</button>
                    <button class="btn btnD col-3 p-4" type="button">5</button>
                    <button class="btn btnD col-3 p-4" type="button">6</button>
                </div>
                <!-------------ParteB2.2------------->
                <div class="row p-0 m-0">
                    <button class="btn btnD col-3 p-4" type="button">12</button>
                    <div class="col-9">
                      <div class="row row-cols-3 gy-1">
                        <button class="btn btnNoD p-4" type="button" (click)="nodisp()">11</button>
                        <button class="btn btnD p-4" type="button">10</button>
                        <button class="btn btnNoD p-4" type="button">9</button>
                        <button class="btn btnNoD p-4" type="button">13</button>
                        <button class="btn btnNoD p-4" type="button">14</button>
                        <button class="btn btnD p-4" type="button">15</button>
                      </div>
                    </div>
                </div>
                <!-------------ParteB2.3------------->
                
                <div class="flex-row ms-5">
                    <button class="btn btnAD p-4 ms-3 text-light" type="button" disabled>Admin<br>16</button>
                </div>
                
            </div>
            <!-------------ParteB3------------->
            <div class="col-3 border p-0 m-0" id="parteB3">
                
                  <button class="btn btnD col-6 p-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">7</button>
                  <button class="btn btnR col-6 p-4" type="button" (click)="resev2()" >8</button>
                
                
            </div>
        </div>
    
        <!-------------ParteC------------>
        <div class="parteC row border">
            <div class="col-2 border m-0 p-0 d-flex justify-content-center align-items-center">
                Sala <br> #1
            </div>
            <div class="col-7 border p-0 m-0">
                <div class="row p-0 m-0" id="parteC2">
                    <div class="col-3 border p-0 m-0 row align-items-end">
                        <div class="p-0 m-0">
                          <button class="btn btnNoD col-12 mt-1 p-4" type="button">?</button>
                        </div>
                    </div>
                    <div class="col-6 border p-0 m-0 row">
                        <div class="p-0 m-0">
                            <button class="btn btnNoD col-6 mt-1 p-4" type="button">?</button>
                            <button class="btn btnNoD col-6 mt-1 p-4" type="button">?</button>
                          </div>
                          <div class="p-0 m-0 align-self-end">
                            <button class="btn btnNoD col-6 mt-1 p-4" type="button">?</button>
                            <button class="btn btnNoD col-6 mt-1 p-4" type="button">?</button>
                          </div>
                    </div>
                    <div class="col-3 border p-0 m-0 row g-1 flex-row-reverse justify-content-between">
                        
                            <button class="btn btnNoD col-12 p-3 " type="button">?</button>
                            <button class="btn btnNoD col-12 p-3 " type="button">?</button>
                            <button class="btn btnNoD col-12 p-3 " type="button">?</button>
                          
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-3 border m-0 p-1 d-flex justify-content-center align-items-center">
                Almacén <br> ECEN
            </div>
        </div>
    
    </div>
     
    </div>
    <br><br>
  </p-tabPanel>
  <p-tabPanel header="Reservar salas de reunión">
    <h2 class="text-center">Reservas de salas de reunión</h2><br>
    <div class="container-fluid">
      <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Ubicación</th>
                <th scope="col">Sala</th>
                <th scope="col">Capacidad máxima</th>
                <th scope="col">Aforo permitido</th>
                <th scope="col">Estado</th>
                <th scope="col">Reserva</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Información de la reserva</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Oficina 5-3</th>
                <td>Sala 1: Asesoría académica</td>
                <td>6</td>
                <td>4</td>
                <td><span class="badge bg-warning text-black" style="font-size: 15px;">Reservado</span></td>
                <td>
                    <button class="btn btn-primary" type="button"
                    aria-controls="offcanvasExample" disabled>Reservado</button>
                </td>
                <td>
                  <button class="btn btn-danger" type="button" (click)="reservaSala()" >Eliminar</button>
                </td>
                <td><button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#info1">Información</button></td>
              </tr>
              <!----------------------------->
              <tr>
                <th scope="row">Oficina 5-1</th>
                <td>Sala 1</td>
                <td>6</td>
                <td>2</td>
                <td><span class="badge text-black" style="font-size: 15px; background-color: rgb(255, 108, 54);">Disponible</span></td>
                <td>
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample2">Reservar</button>
                </td>
                <td>
                  <button class="btn btn-danger" type="button" disabled>Eliminar</button>
                </td>
                <!--<td><button class="btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample3">Modificar</button></td>-->
                <td><button class="btn btn-primary" type="button" disabled>Información</button></td>
              </tr>
            </tbody>
          </table>
    </div>
     
    </div><br>

    <!--<div class="container-fluid" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="font-size: 25px;">
            Sala 1: Asesoría General &nbsp; <b>(Oficina 5-3)</b> &nbsp; <span class="badge bg-warning">Reservado</span>
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="font-size: 25px;">
            Sala 1 &nbsp; <b>(Oficina 5-1)</b> &nbsp; <span class="badge" style="background-color: rgb(255, 108, 54);">Disponible</span>
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
        </div>
      </div>
    </div>-->
  </p-tabPanel>
</p-tabView>


<!-------------Reseva de cubículos----------->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="d-flex justify-content-between p-3 border-bottom">
    <h5 class="offcanvas-title fw-bold" id="offcanvasExampleLabel">Reservar espacio</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form action="">
      <h3>Cubículo # <b>7</b></h3>
     
      <div class="mt-4">
        <label for="titulo">Correo electrónico</label>
        <input type="text" class="form-control form-control-lg" id="fecha">
      </div>
      <div class="mt-2">
        <label for="fecha">Fecha de la reserva</label>
        <p-calendar dataType="string" dateFormat="yy/mm/dd" [readonlyInput]="true" [showButtonBar]="true" 
         [showIcon]="true" inputId="icon" [(ngModel)]="date" name="fecja"></p-calendar>
      </div>
      <div class="mt-2">
        <label for="titulo">Hora de inicio</label>
        <input [ngxTimepicker]="picker" [format]="12" class="form-control form-control-lg" name="time"
            data-bs-dismiss="offcanvas" id="startTime" [(ngModel)]="time" readonly>
          <ngx-material-timepicker #picker [cancelBtnTmpl]="cancelBtn" [confirmBtnTmpl]="confirmBtn">
          </ngx-material-timepicker>

          <ng-template #cancelBtn>
            <button class="btn btn-secondary me-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">Cancelar</button>
          </ng-template>
          <ng-template #confirmBtn>
            <button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">Confirmar</button>
          </ng-template>
      </div>
      <div class="mt-2">
        <label for="titulo">Hora de salida</label>
        <input [ngxTimepicker]="picker2" [format]="12" class="form-control form-control-lg" name="time2"
            data-bs-dismiss="offcanvas" id="startTime" [(ngModel)]="time2" readonly>
          <ngx-material-timepicker #picker2 [cancelBtnTmpl]="cancelBtn2" [confirmBtnTmpl]="confirmBtn2">
          </ngx-material-timepicker>

          <ng-template #cancelBtn2>
            <button class="btn btn-secondary me-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">Cancelar</button>
          </ng-template>
          <ng-template #confirmBtn2>
            <button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">Confirmar</button>
          </ng-template>
      </div>
      <div class="d-grid mt-4">
        <button class="btn btn-primary" type="submit">Reservar</button>
      </div>
    </form>
  </div>
</div>

<!-------------Reseva de salas--------------->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample2" aria-labelledby="offcanvasExample2Label">
  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Reservar sala</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h3>Sala # 2: Sala general</h3>
    
    <div class="mt-2">
      <label for="titulo">Correo electrónico</label>
      <input type="text" class="form-control form-control-lg" id="nom">
    </div>
    <div class="mt-2">
      <label for="rol">Tipo de reunión</label>
      <select class="form-select form-select-lg" id="rol">
        <option value="">Pendiente de Agregar</option>
      </select>
    </div>
    <div class="mt-2">
      <label for="titulo">Fecha de reserva</label><br>
      <p-calendar dataType="string" dateFormat="yy/mm/dd" [readonlyInput]="true" [showButtonBar]="true" 
         [showIcon]="true" inputId="icon" [(ngModel)]="date2" name="fecha2"></p-calendar>
    </div>
    <div class="mt-2">
      <label for="titulo">Hora de inicio</label>
      <input [ngxTimepicker]="picker3" [format]="12" class="form-control form-control-lg" name="time3"
            data-bs-dismiss="offcanvas" id="startTime2" [(ngModel)]="time3" readonly>
          <ngx-material-timepicker #picker3 [cancelBtnTmpl]="cancelBtn3" [confirmBtnTmpl]="confirmBtn3">
          </ngx-material-timepicker>

          <ng-template #cancelBtn3>
            <button class="btn btn-secondary me-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample2">Cancelar</button>
          </ng-template>
          <ng-template #confirmBtn3>
            <button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample2">Confirmar</button>
          </ng-template>
    </div>
    <div class="mt-2">
      <label for="titulo">Hora de salida</label>
      <input [ngxTimepicker]="picker4" [format]="12" class="form-control form-control-lg" name="time4"
            data-bs-dismiss="offcanvas" id="endTime2" [(ngModel)]="time4" readonly>
          <ngx-material-timepicker #picker4 [cancelBtnTmpl]="cancelBtn4" [confirmBtnTmpl]="confirmBtn4">
          </ngx-material-timepicker>

          <ng-template #cancelBtn4>
            <button class="btn btn-secondary me-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample2">Cancelar</button>
          </ng-template>
          <ng-template #confirmBtn4>
            <button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample2">Confirmar</button>
          </ng-template>
    </div>
    <div class="d-grid mt-4">
      <button class="btn btn-primary" type="submit">Reservar</button>
    </div>
  </div>
</div>

<!--------------Modificar--------------------->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample3" aria-labelledby="offcanvasExample2Label">
  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Modificar Reserva</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h3>Sala # 3</h3>
    
    <div class="mt-2">
      <label for="titulo">Correo electrónico</label>
      <input type="text" class="form-control form-control-lg" id="nom">
    </div>
    <div class="mt-2">
      <label for="rol">Tipo de reunión</label>
      <select class="form-select form-select-lg" id="rol">
        <option value="">Pendiente de Agregar</option>
      </select>
    </div>
    <div class="mt-2">
      <label for="titulo">Fecha de reserva</label><br>
      <p-calendar dataType="string" dateFormat="yy/mm/dd" [readonlyInput]="true" [showButtonBar]="true" 
         [showIcon]="true" inputId="icon" [(ngModel)]="date3" name="fecha3"></p-calendar>
    </div>
    <div class="mt-2">
      <label for="titulo">Hora de inicio</label>
      <input [ngxTimepicker]="picker5" [format]="12" class="form-control form-control-lg" name="time5"
            data-bs-dismiss="offcanvas" id="startTime2" [(ngModel)]="time5" readonly>
          <ngx-material-timepicker #picker5 [cancelBtnTmpl]="cancelBtn5" [confirmBtnTmpl]="confirmBtn5">
          </ngx-material-timepicker>

          <ng-template #cancelBtn5>
            <button class="btn btn-secondary me-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample3">Cancelar</button>
          </ng-template>
          <ng-template #confirmBtn5>
            <button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample3">Confirmar</button>
          </ng-template>
    </div>
    <div class="mt-2">
      <label for="titulo">Hora de salida</label>
      <input [ngxTimepicker]="picker6" [format]="12" class="form-control form-control-lg" name="time6"
            data-bs-dismiss="offcanvas" id="endTime2" [(ngModel)]="time6" readonly>
          <ngx-material-timepicker #picker6 [cancelBtnTmpl]="cancelBtn6" [confirmBtnTmpl]="confirmBtn6">
          </ngx-material-timepicker>

          <ng-template #cancelBtn6>
            <button class="btn btn-secondary me-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample3">Cancelar</button>
          </ng-template>
          <ng-template #confirmBtn6>
            <button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample3">Confirmar</button>
          </ng-template>
    </div>
    <div class="d-grid mt-4">
      <button class="btn btn-primary" type="submit">Reservar</button>
    </div>
  </div>
</div>

<!--------------Ayuda--------------------->
<div class="offcanvas offcanvas-top" tabindex="-1" id="Ayuda" aria-labelledby="offcanvasExampleLabel" style="height: 100vh;">
  <div class="offcanvas-header border-bottom">
    <h3 class="offcanvas-title fw-bold" id="offcanvasExampleLabel">Ayuda - Usuarios</h3>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h1>Pendiente de agregar</h1>
  </div>
</div>

<app-footer></app-footer>

<div class="modal fade" id="reservasC" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reservas de Cubículos y salas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <br><h2 class="fw-bold">Reservas de cubículos</h2><br>
        <h4>Para realizar una reserva el usuario selecciona el cubículo que se encuentre <b>Disponible</b> y llenar el formulario de reserva.</h4>
        <h4>Nota: Solo el usuario que realiza la reserva puede eliminar o modificar su reserva, a los demás no le aparece el botón modificar y eliminar</h4>
        <h4>Cada cubículo corresponde a un botón y puede presentar 3 estados y 3 colores</h4>
        <h4>Los botones <b>3, 7 y 11</b> están activos para prueben como funciona según sus estados</h4>

        <h2 class="fw-bold">Reserva de salas de reunión</h2><br>
        <h4>En esta sección se muestran todas las salas de reunión que se encuantran activas</h4>
        <h4>Se muestra al usuario la información de cada sala y las opciones para reservar</h4>
        <h4>Para reservar un sala el usuario presiona el boton <b>Reservar</b> y llenar el formulario</h4>
        <h4>El usuario puede modificar o eliminar su reserva.</h4>
        <h4>Nota. Solo el usuario que hace la reserva puede modificar o eliminarla</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-----------------ModalInfo-------------------->

<div class="modal fade" id="info1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Información de la sala</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4 class="text-center fw-bold">Reserva</h4><br>
        <h4><b>Reservado para: </b>Carlos Matarrita</h4>
        <h4><b>Rol: </b>Encargado de XXXXXX</h4>
        <h4><b>Fecha: </b>2022-04-28</h4>
        <h4><b>Hora: </b>10:30am - 11:30am</h4><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>